.field-item input, .field-item select, .field-item textarea {
	width: 100%;
}
#openinghours input {
	float: left;
	width: auto;
}
#openinghours .field-item div {
	clear: both;
	height: 32px;
}
.remove-time-slot {
	line-height: 1.4em;
	font-size: 14px;
	display: inline-block;
	color: #a00;
	padding: 6px;
}